* {
	box-sizing: border-box;
}

* {
    overflow-x: hidden;
  }
  
  /* add custom styling to the scrollbar 
  ::-webkit-scrollbar {
    transform: translateY(-10px);
    width: 24px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .slide {
    width: 100vw;
    height: 100vh;
  }
  
  .outer-wrapper {
    width: 100vh;
    height: 99vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  wrapper containing our slides 
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow-y: hidden;
  }
  */