* {
    font-family: 'EB Garamond', Arial;
    font-weight: 400;
    color: rgb(224, 224, 224);

    background-color: #272727;
}

::selection {
    background: #f52a78;
  }

h1{
    font-size: 1.75rem;
    margin: 0rem;
}

a {
    text-decoration: none;
    cursor:pointer;
}

.nav-links a {
    font-size: 1rem;
}

.nav-bar .logo {
    font-size: 1.5rem;
}


a:hover, a:focus, a:hover h2, a:focus h2, a:hover h3, a:focus h3 {
    color: #f52a78;
    transition: color ease-in-out;
    transition-duration: 0.3s;
}

.project-card h2{
    margin: 0px;
}

.project-card h3 {
    margin:0px;
}

.card h1{
    font-size:1.75rem;
    font-weight: 650;
    margin: 0;
    padding: 0;
}

.card h2 {
    font-size: 1rem;
    font-weight: 650;
    margin: 0;
    padding: 0;
}

.intro-card h2{
    padding-top: 1rem;
}